<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ .Title }}</title>
    <style nonce="{{ .Nonce }}">
        /* Avoid white flash by assigning background colour in html. */
        @media (prefers-color-scheme: dark) {
            :root {
                background-color: #333333;
                color: #fff;
            }
        }
    </style>
</head>
<body>
<p>Hello, World!</p>
</body>
</html>
